* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    max-width: 480px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


img {   
    width: 200px;
}

button {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

button:hover {
    background-color: lightgray;
}